[Desktop Entry]
Name=emoProxy
Exec=/opt/emoProxy/emoproxy-gui
Icon=/opt/emoProxy/assets/icon.png
Type=Application
Categories=Development;Utility;
Terminal=false
